/*
/.**

!.gitignore
!/foot
!/foot/*
!/fontconfig
!/fontconfig/*
!/helix
!/helix/*
!/hypr
!/hypr/*
!/river
!/river/*
!/wezterm
!/wezterm/*
!/wofi
!/wofi/*
!/zsh
!/zsh/*
!/zsh/sheldon
!/zsh/sheldon/*
!vimium-options.json
