window {
    background-color: #aaaaaa;
}

#outer-box {
    margin: 2px;
    padding: 8px;
    background-color: #3d3d3d;
}

#input {
    font-size: 17px;
    margin-top: 4px;
    margin-bottom: 10px;
    border: none;
    background-color: #222222;
}

#text {
    font-size: 17px;
    color: #ffffff;
}

#entry:selected {
    background-color: #111111;
}
